.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: black;
    background-size: cover;
    width: 100vw;
}
.home-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}