.registration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #050100;
  width: 100vw;
}
.registration-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  max-height: 90vh;
  box-shadow: 0 4px 12px rgb(243, 241, 241);
  border-radius: 20px;
}
.logo-wrapper {
  width: 60%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dk2bbhmdm/image/upload/v1721060863/realistic-neon-lights-background_23-2148907367_urhnfd.avif");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0 0 20px;
}
.form-container {
  width: 80%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.logo {
  width: 50%;
  height: auto;
}
.registration-form-wrapper {
  height: 100%;
  background-color: rgba(67, 64, 64, 0.8);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  width: 40%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
  overflow: auto;
}
.form-field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.heading {
  margin: 0;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #f5f5f5;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}
.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #151615;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.error-text {
  color: #ff4d4d;
  font-size: 0.9rem;
}
.form-fields-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.form-field{
  width: 100%;
}
.input-field{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 100;
  outline: none;
}
